@font-face {
   font-family: Hedvig;
   src: url(HedvigLettersSans-Regular.ttf);
}
@font-face{
   font-family: Poppins-Light;
   src: url(Poppins-Light.ttf);
}
body {
  background-color: rgb(1, 0, 43);
}
h1, h2, h3, h4, h5, h6 {
  font-family: Hedvig;
  color: rgb(204, 255, 228);
}
p {
   font-family: Poppins-Light;
   color: white;
}
